/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Ubuntu:wght@300;400&display=swap');

/* Variable */
:root {
	--logo-font: 'Lobster', cursive;
	--title-font: 'Poppins', sans-serif;
	--text-font: 'Ubuntu', sans-serif;
	--bg-color: #fcfeff;
	--accent-color: #1a8029;
	--text-color: #231f20;
	--cs-red: #db2b39;
	--cs-gray: #231f20;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	height: 100%;
	width: 100%;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.25rem 2rem 1rem 2rem;
}

#home-link {
	flex-grow: 1.5;
}

#home-link > a {
	color: var(--cs-gray);
	font-family: var(--logo-font);
	font-size: 2.25rem;
	text-decoration: none;
	text-shadow: 0px 0px 5px #516148;
}

#home-link > a > * {
	transition: all 0.5s ease-in-out;
}
#home-link > a:hover > #hl-word-1 {
	color: var(--accent-color);
}
#home-link > a:hover > #hl-word-2 {
	color: var(--bg-color);
}
#home-link > a:hover > #hl-word-3 {
	color: var(--cs-red);
}

#nav-elements-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	margin-right: 2.5rem;
}

.nav-element {
	display: flex;
	flex-direction: row;
	align-items: center;
	float: left;
}

.nav-element > a {
	color: var(--text-color);
	font-family: var(--title-font);
	font-size: 1.125rem;
	text-decoration: none;
	padding-right: 1rem;
	padding-left: 1rem;
}

/* Underline from left hover effect */
/* Source : https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.hover-underline {
	display: inline-block;
	position: relative;
	color: var(--accent-color);
}
.hover-underline::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--accent-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.hover-underline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#nav-btn {
	font-family: var(--title-font);
	font-size: 1.125rem;
	background-color: var(--accent-color);
	color: var(--bg-color);
	text-decoration: none;
	padding: calc(0.75rem - 0.125rem);
	border: 0.125rem solid var(--accent-color);
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

#nav-btn:hover {
	background-color: var(--bg-color);
	color: var(--accent-color);
	border: 2px solid var(--accent-color);
}

#separator {
	width: 100%;
}

#flag-green {
	background-color: var(--accent-color);
	height: 0.5rem;
}

#flag-white {
	background-color: var(--bg-color);
	height: 0.5rem;
}

#flag-red {
	background-color: var(--cs-red);
	height: 0.5rem;
}
