:root {
	--logo-font: 'Lobster', cursive;
	--title-font: 'Poppins', sans-serif;
	--text-font: 'Ubuntu', sans-serif;
	--bg-color: #fcfeff;
	--accent-color: #1a8029;
	--text-color: #231f20;
	--cs-red: #db2b39;
	--cs-gray: #231f20;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	height: 100%;
	width: 100%;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.25rem 2rem 1rem 2rem;
}

#home-link {
	flex-grow: 1.5;
}

#home-link > a {
	color: var(--cs-gray);
	font-family: var(--logo-font);
	font-size: 2.25rem;
	text-decoration: none;
}

#nav-elements-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	margin-right: 2.5rem;
}

.nav-element {
	display: flex;
	flex-direction: row;
	align-items: center;
	float: left;
}

.nav-element > a {
	color: var(--text-color);
	font-family: var(--title-font);
	font-size: 1.125rem;
	text-decoration: none;
	padding-right: 1rem;
	padding-left: 1rem;
}

#reservation-btn {
	font-family: var(--title-font);
	font-size: 1.125rem;
	background-color: var(--accent-color);
	color: var(--bg-color);
	text-decoration: none;
	padding: 0.75rem;
	border-radius: 10px;
}

#separator {
	width: 100%;
}

#flag-green {
	background-color: var(--accent-color);
	height: 0.5rem;
}

#flag-white {
	background-color: var(--bg-color);
	height: 0.5rem;
}

#flag-red {
	background-color: var(--cs-red);
	height: 0.5rem;
}
